body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.game_over {
    margin: 0 auto;
    width: 50%;
    height: 50px;
}

.hide{
    display: none;
    visibility: hidden;
}

.show{
    display: block;
    visibility: visible;
}
